*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    box-sizing: border-box;
    
}
body{
    background: rgba(26, 11, 46, 1);
    overflow-x: hidden;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    max-width: 1600px;
    height: 92px;
    padding: 16px 0 ;
    margin: 0 auto;

}
.logo{
    font-size: 29px;
    font-weight: 700;
    color: #fff;
}
.logo span{
   color: #e412efe9; 
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 32px;
    color: #fff;
}
.nav-action .btn-gradient{
    height: 40px;
    width: 135px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    padding: 12px 16px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
}


.hero-section {
    padding: 60px 0;
    text-align: center;
}
    

.hero-image-wrapper {
    position: relative; 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.wave-bg {
    max-width: 1600px;
    height: auto;
    display: block;
}

.gradient-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 350px; 
    height: 350px;
    background: linear-gradient(135deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border-radius: 50%;
    border: 8px solid #2A186C ;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.gradient-circle img {
    width: 116px;
    height: 175px;
}
.hero-section .hero-content{
    margin-top: 20px;

}
.hero-title {
    font-size: 60px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 10px;
    letter-spacing: -2px; 
    line-height: 1;
    
    
}
.hero-section .hero-content .hero-title{
    margin-top: 40px;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 1px;
    
}
.hero-section .hero-content .hero-subtitle {
    font-size: 16px;
    color: #fff;
    margin: 20px auto; 
    max-width: 600px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.btn-gradient, .btn-outline {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 210px;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    
}
.btn-gradient {
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}
.btn-outline {
    background: transparent;
    border: 2px solid #e412efe9;
}


.about-section {
    color: #fff;
    text-align: center;
    padding: 60px 0;
}
.about-content {
    max-width: 800px; 
    margin: 0 auto 60px; 
}
.about-content h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
    color: var(--#FFFFFF, rgba(255, 255, 255, 1));
}
.about-content p {
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 16px;
}
.stats-grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    padding: 60px 40px;
    border-radius: 24px;
}
.stats-items {
    flex: 1; 
    min-width: 200px;
}
.stats-items h3 {
    font-size: 45px; 
    font-weight: 900;
    margin-bottom: 10px;
    color: #00FFA3;
}

.stat-item p {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}
