*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    box-sizing: border-box;
    
}
body{
    background: rgba(26, 11, 46, 1);;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    max-width: 1600px;
    height: 92px;
    padding: 16px 200px 16px 200px;

}
.logo{
    font-size: 29px;
    font-weight: 700;
    color: #fff;
}
.logo span{
   color: #e412efe9; 
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 32px;
    color: #fff;
}
.nav-action .btn-gradient{
    height: 40px;
    width: 135px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    padding: 12px 16px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
   

}